<section class="ct-u-paddingBoth60 ct-blog ct-post--single">
<div class="container">
<div class="row">
<div class="col-md-8">
    <div class="ct-articleBox ct-u-marginBottom60">
        <div class="ct-articleBox-media pull-left ct-u-marginBottom30">
            <div class="ct-calendar--day text-center ct-calendar--mini hidden-lg">
                <div class="ct-day">
                    <span>09</span>
                </div>
                <div class="ct-month">
                    <span class="text-uppercase">jan</span>
                </div>
            </div>
            <img src="content/blog-image-1.jpg" alt="">
        </div>
        <div class="ct-articleBox--body">
            <div class="ct-u-displayTableVertical">
                <div class="ct-calendar--day text-center visible-lg-inline-block ct-u-displayTableCell">
                    <div class="ct-day">
                        <span>09</span>
                    </div>
                    <div class="ct-month">
                        <span class="text-uppercase">jan</span>
                    </div>
                </div>
                <div class="ct-articleBox-titleBox text-uppercase ct-u-displayTableCell">

                    <a href="blog-single.html"><%= @article.title %></a>
                    <div class="ct-articleBox-meta">
                        <span>Posted on <%= @article.published_date %> In <%= @article.published_at %></span>
                    </div>


                </div>
            </div>
            <div class="ct-divider ct-u-marginTop10 ct-u-marginBottom20"></div>
            <div class="ct-articleBox-description">
                <%= @article.body %>
            </div>
        </div>
        <div class="ct-divider ct-u-marginBoth30"></div>

    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-4">
    <div class="ct-js-sidebar">
        <div class="row">

            <div class="col-sm-6 col-md-12">
                <section class="widget ct-widget-latestPosts">
                    <div class="widget-inner">
                        <h4 class="text-uppercase">Latest Posts</h4>
                        <ul class="list-unstyled">
                            <li>
                                <div class="widget-latest-posts-left">
                                    <a href="blog-single.html">
                                        <img src="assets/images/content/latest-post-widget.jpg" alt="">
                                    </a>
                                </div>
                                <div class="widget-latest-posts-content">
                                    <a href="blog-single.html">
                                        Expectations for 2015
                                    </a>
                                    <span class="text-uppercase">Posted on january 9th, 2015</span>
                                </div>
                            </li>
                            <li>
                                <div class="widget-latest-posts-content">
                                    <a href="blog-single.html">
                                        Real Estate market most probably going to bloom in early 2016
                                    </a>
                                    <span class="text-uppercase">Posted on january 5th, 2015</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-6 col-md-12">
                <section class="widget">
                    <div class="widget-inner">
                        <div class="ct-widget-categories">
                            <h4 class="text-uppercase">Archive</h4>
                            <ul class="list-unstyled">
                                <li><a href=""><i class="fa fa-angle-right"></i>January 2015<span class="pull-right">(1)</span></a></li>
                                <li><a href=""><i class="fa fa-angle-right"></i>December 2014<span class="pull-right">(2)</span></a></li>
                                <li><a href=""><i class="fa fa-angle-right"></i>November 2014<span class="pull-right">(3)</span></a></li>
                                <li><a href=""><i class="fa fa-angle-right"></i>October 2014<span class="pull-right">(1)</span></a></li>
                                <li><a href=""><i class="fa fa-angle-right"></i>August 2014<span class="pull-right">(5)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</section>
