<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image="assets/images/content/agency-parallax.jpg" data-bg-image-mobile="assets/images/content/agency-parallax.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-heading--main text-center">
                <h3 class="text-uppercase ct-u-text--white">Admin Dashboard</h3>
            </div>
        </div>
    </div>
</header>
<section class="ct-u-paddingBoth60">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <%= render partial: 'menu' %>
            </div>
            <div class="col-sm-8 col-md-9">
              <%= render partial: 'settings' %>

          </div>
        </div>
    </div>
</section>
