<div class="col-sm-6 col-md-12">
    <div class="widget ct-widget--featuredItems">
        <div class="widget-inner">
            <h4 class="text-uppercase">Pre-selling</h4>

            <% 2.times do %>
            <div class="ct-itemProducts--small ct-itemProducts--small-type1">
                <a href="product-single.html">
                    <div class="ct-main-content">
                        <div class="ct-imageBox">
                            <img src="assets/images/content/recently-reduced-thumbnail-1.jpg" alt="">
                        </div>
                        <div class="ct-main-text">
                            <div class="ct-product--tilte">
                                8553 Fallen Creek Bend, North Carolina
                            </div>
                            <div class="ct-product--price">
                                <span>$ 450,000</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <% end %>

        </div>
    </div>
</div>
