<div class="col-sm-6 col-md-12">
    <div class="widget ct-widget--featuredItems">
        <div class="widget-inner">
            <h4 class="text-uppercase">Pre-selling</h4>

            <% @preselling.each do |preselling| %>
            <div class="ct-itemProducts--small ct-itemProducts--small-type1">
                <a href="">
                    <div class="ct-main-content">
                        <div class="ct-imageBox">
                            <%= image_tag "content/recently-reduced-thumbnail-1.jpg" %>
                        </div>
                        <div class="ct-main-text">
                            <div class="ct-product--tilte">
                                <%= preselling.name %>
                            </div>
                            <div class="ct-product--price">
                                <span><%= preselling.price_range %></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <% end %>

        </div>
    </div>
</div>
