<form class="ct-formSearch--extended ct-u-marginBottom50" role="form">
  <div class="form-group ">
    <div class="ct-form--label--type1">
      <div class="ct-u-displayTableVertical">
        <div class="ct-u-displayTableCell">
          <div class="ct-input-group-btn">
            <button class="btn btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ct-u-displayTableCell text-center">
          <span class="text-uppercase">Search for property</span>
        </div>
      </div>
    </div>
    <div class="ct-u-displayTableVertical ct-u-marginBottom20">
      <div class="ct-u-displayTableCell">
        <div class="ct-form--item">
          <label>Developer</label>
          <input type="text" required class="form-control input-lg" placeholder="Any">
        </div>
      </div>
      <div class="ct-u-displayTableCell">
        <div class="ct-form--item">
          <label>Location</label>
          <select class="ct-js-select ct-select-lg">
            <option value="any">Any</option>
            <option value="1">New York</option>
            <option value="2">New Jersey</option>
            <option value="3">Newark</option>
            <option value="4">Philadelphia</option>
          </select>
        </div>
      </div>

      <div class="ct-u-displayTableCell">
        <div class="ct-form--item">
          <label>Property Status</label>
          <select class="ct-js-select ct-select-lg">
            <option value="any">Any</option>
            <option value="1">Completed</option>
            <option value="2">Preselling</option>
            <option value="3">Other</option>
          </select>
        </div>
      </div>
      <div class="ct-u-displayTableCell">
        <div class="ct-form--item">
          <label>Property type </label>
          <select class="ct-js-select ct-select-lg">
            <option value="any">Any</option>
            <option value="1">Condominium</option>
            <option value="2">Condotel</option>
          </select>
        </div>
      </div>
    </div>
    <div class="ct-u-displayTableVertical ct-slider--row ct-sliderAmount">
      <div class="ct-u-displayTableCell">
        <div class="ct-form--item">
          <label>Bedrooms</label>
          <select class="ct-js-select ct-select-lg">
            <option value="any">Any</option>
            <option value="0">Studio</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3+</option>
          </select>
        </div>
      </div>
      <div class="ct-u-displayTableCell">
        <div class="ct-form--item">
          <label>Price ($)</label>
          <input type="text" value="1000000" required class="form-control input-lg ct-js-slider-min" placeholder="">
        </div>
      </div>
      <div class="ct-u-displayTableCell">
        <input type="text" class="slider ct-js-sliderAmount" value="" data-slider-tooltip="hide" data-slider-handle="square" data-slider-min="5000" data-slider-max="5000000" data-slider-step="5000" data-slider-value="[1000000,2000000]">
        <label>Min</label>
        <label class="pull-right">Max</label>
      </div>
      <div class="ct-u-displayTableCell">
        <div class="ct-form--item">
          <input type="text" value="2000000" required class="form-control input-lg ct-js-slider-max" placeholder="">
        </div>
      </div>

      <div class="ct-u-displayTableCell">
        <button type="submit" class="btn btn-warning text-capitalize pull-right">search now</button>
      </div>
    </div>
  </div>
</form>
