<%# content_for :admin_pages do %>

<div class="blue">
<div class="main_content">

	<h1>Edit Agent</h1>

	<%= form_for :agent, :url => agent_url(@agent), :html => {:method => :put, :multipart => true} do |f| %>
		<%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>

</div>
</div>
<%# end %>
